<div class="top-bar">
  <h1>Budget Calculator</h1>
</div>
<section class="total-budget-section">
    <h2 [ngClass]="{'green' : balance >= 0 , 'red': balance < 0 }">{{balance |currency}}</h2>
</section>

<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form style="padding: 20px;" (formItem)="addItem($event)"></app-add-item-form>
  </div>
</section>
<hr style="margin-top: 0;">
<app-budget-item-list (deleteItem)="deleteItem($event)" (editItem)="editItem($event)" [budgetItems]='budgetItems'></app-budget-item-list>
